
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.contain_quizz{
    margin: 0;
    background: url("../images/bg8.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.contain_quizz_section{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 30%;
}

.contain_quizz_section > div{
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background: rgba(200, 200, 200, 0.9);
    border-top: solid 4px white;
}

.contain_quizz_section > div > div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.contain_quizz_section > div > div > table{
    width: 80%;
}

.contain_quizz_section > div > div > table tr td{
    width: 33.33%;
    padding: 10px 0;
    text-align: center;
}

.contain_quizz_title{
    font-weight: bold;
    font-size: 1.2em;
}

button{
    border: solid 1px grey;
    background: white;
    border-radius: 2px;
    padding: 3px 5px;
    color: black;
    font-size: 1em;
}

button:hover{
    cursor: pointer;
}

input[type="checkbox"]{
    transform: scale(1.5);
    border: solid 1px black;
    border-radius: 3px;
}

input[type="checkbox"]:hover{
    cursor: pointer;
}