body {
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: red;
    font: small-caps bold 24px/1 sans-serif;
    background-attachment: fixed;
}

h1 {
    color: white;
    font: small-caps bold 24px/1 sans-serif;
}

h2 {
    color: white;
    font: small-caps bold 24px/1 sans-serif;
}

#prix {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    padding: 40px;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
    color: white;
    text-align: center;
}

#solution {
    width: 200px;
    height: 40px;
}

#bouton {
    width: 100px;
    height: 30px;
}